input {
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline-color: #132a76;
}

.invalid {
    outline-color: red;
}

label {
    display: block;
    text-transform: uppercase;
    margin-top: 3rem;
}

h1 {
    margin-bottom: 5rem;
}
