.btn {
    display: block;
    width: 20rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.1rem rgb(255, 255, 255);
}
.button-form {
    color: #0f4076;
    margin-top: 5rem;
    background-color: #ccc;
}

.btn:hover,
.btn:active {
    color: #333;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.1rem #aaa;
}

.btn:focus {
    outline: none;
    border: none;
}

.buttonbox {
    display: flex;
    justify-content: center;
}

.accept {
    background-color: #3d6f0c;
    margin: 1rem;
}

.decline {
    background-color: #641414;
    margin: 1rem;
}
